/* Removing Basic Styling */
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*  */


body{
    background-image: linear-gradient(180deg, black, white);
    /* TextColor */
    color: white; 

    font-family: "Poppins", sans-serif;
    font-family: 'Indie Flower', cursive;
    min-height: 100vh; 
}

header{
    font-size : 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    align-items:center;
    justify-content:center;
}

form input, form button{
    padding: .5rem;
    font-size: 2rem;
    border:none;
    background: white;
}

form button{
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background:black;
    color: white;
}

.todo-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;

}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    transition: all .5s ease;
}

.todo li{
    flex: 1;
}

.delete-btn, .complete-btn{
    background: black;
    color: white;
    border: none;
    padding:1rem;
    cursor: pointer;
    font-size: 1rems;
}

.complete-btn{
    background-color: rgb(73, 204, 73);
}

.todo-item{
    padding:0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: .3rem;
    opacity: .5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.filter-todo{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: black;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    
}

.select::after{
    content:"\25BC";
    position: absolute;
    background: black;
    top: 0;
    right: 0;
    padding:1rem;
    pointer-events:none;
    transition: all .3s ease;
}

.select:hover::after{
    background: white;
    color: black;
}